#mask {
  opacity: 1.2 !important;
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  /*! border-radius: 15px; */
  text-align: center;
  border-color: 2px solid gray;
}
#boxes #dialog {
  width:450px; 
  height:auto;
  padding:10px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
   border-color: 2px solid gray;
}
.maintext{
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

#lorem{
  font-family: "Segoe UI", sans-serif;
  font-size: 12pt;
  text-align:justify;
  margin-top:10px !important;

}
#popupfoot{
  font-family: "Segoe UI", sans-serif;
  font-size: 16pt;
  padding: 10px 20px;

}
#popupfoot a{
  text-decoration: none;
   background-color: #ffd200 !important;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
  background-color:#D1D1D1;
  color: green;
}
.popupoption2:hover{
  
  color: red;
}

.btn-default{
  background-color: black !important;
  color:white !important;
  border-color: #ffd200 !important;
}